.contour-chart {
    width: 400px;
    height: 300px;
    border-style: solid;
    border-width: medium;
    border-color: gray;
}

.background {
	fill: none;
	pointer-events: all;
}

#states {
	fill: #dbdde3;
}

#state-borders {
	fill: none;
	stroke: #999;
	stroke-width: 0.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}