.contour-chart {
    width: 400px;
    height: 300px;
    border-style: solid;
    border-width: medium;
    border-color: gray;
}


 /* Blue hue colors from Color Brewer http://colorbrewer2.org/  */
.qNE-9{fill:rgb(247,251,255)}
.qNV-9{fill:rgb(222,235,247)}
.qNH-9{fill:rgb(198,219,239)}
.qNJ-9{fill:rgb(158,202,225)}
.qNM-9{fill:rgb(107,174,214)}
.qNY-9{fill:rgb(66,146,198)}
.qNC-9{fill:rgb(33,113,181)}
.qND-9{fill:rgb(8,81,156)}
